merged_citibike_weather.csv 
laguardia_weather_2022.csv 
2022-citibike-tripdata/
env/
merged_citibike_weather_sample_cleaned.csv
Clean Up Dataset.ipynb
Citibike_Dashboard.zip
cleaned_citibike_weather_final.csv



